on:
  workflow_call:
    outputs:
      release-published:
        description: "True if a new release is performed, false otherwise."
        value: ${{ jobs.release.outputs.release-published }}
      release-version:
        description: "New version or current version if not released, example: 1.2.3"
        value: ${{ jobs.release.outputs.release-version }}
      release-major:
        description: "New Major version of the semver, example: 1."
        value: ${{ jobs.release.outputs.release-major }}
      release-minor:
        description: "New Minor version of the semver, example: .2."
        value: ${{ jobs.release.outputs.release-minor }}
      release-patch:
        description: "New Path version of the semver, example: .3"
        value: ${{ jobs.release.outputs.release-patch }}
      release-type:
        description: "Type of semver promotion: major, minor or patch."
        value: ${{ jobs.release.outputs.release-type }}
      release-git-head:
        description: "SHA value associated to release commit."
        value: ${{ jobs.release.outputs.release-git-head }}
      release-git-tag:
        description: "Git Tag associated to release commit."
        value: ${{ jobs.release.outputs.release-git-tag }}

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true
      - name: Release
        id: release
        uses: quike/action-semantic-release@v2.90
        with:
          debug-mode: true
          dry-run: false
          default-config: true
          default-preset-info: true
          floating-tags: false
          add-summary: true
        env:
          GITHUB_TOKEN: ${{ secrets.GHTOKEN }}
    outputs:
      release-published: ${{ steps.release.outputs.release-published }}
      release-version: ${{ steps.release.outputs.release-version }}
      release-major: ${{ steps.release.outputs.release-major }}
      release-minor: ${{ steps.release.outputs.release-minor }}
      release-patch: ${{ steps.release.outputs.release-patch }}
      release-type: ${{ steps.release.outputs.release-type }}
      release-git-head: ${{ steps.release.outputs.release-git-head }}
      release-git-tag: ${{ steps.release.outputs.release-git-tag }}
