name: Release

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-tags: true
      - name: Release
        uses: quike/action-semantic-release@v2.82
        with:
          debug-mode: true
          dry-run: false
          default-config: true
          default-preset-info: true
          floating-tags: true
          add-summary: true
        env:
          GITHUB_TOKEN: ${{ secrets.GHTOKEN }}
